header.mdui-appbar.mdui-appbar-fixed {
    z-index: 5001;
}

#content {
    padding-top: 64px;
}

#header-wrapper {
    margin-bottom: 32px
}

.mdui-container-fluid {
    padding-left: 0;
    padding-right: 0;
}