header.mdui-appbar.mdui-appbar-fixed {
    z-index: 5001;
}

#content {
    padding-top: 64px;
    padding-bottom: 96px;
}

#header-wrapper {
    margin-bottom: 32px
}

.mdui-container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.albums {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin: -0.875em -0.5em;
}

.album {
    width: calc(25% - 1em);
    display: flex;
    margin: .875em 0.5em;
    flex-direction: column;
    position: relative;
    break-inside: avoid;
    box-sizing: border-box;
}

.album .mdui-card-primary-title {
    font-size: 1.5em;
    line-height: 1.6em;
}

@media screen and (max-width: 1256px) {
    .album {
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    .album {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .album {
        width: calc(33.3% - 1em);
        font-size: 10px;
    }
}

@media screen and (max-width: 512px) {
    .album {
        width: calc(50% - 1em);
        font-size: 9px;
    }
}

.album>.mdui-card-media>img {
    object-fit: cover;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 16em;
}

#aplayer {
    visibility: hidden;
}

#player {
    width: 100vw;
    height: 64px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1999;
    background: #fff;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 10px #0000004d;
    transform: translateY(0);
    transition: transform .3s ease;
}

#player.hide {
    visibility: hidden;
    transform: translateY(64px);
}

#player .mdui-btn {
    width: 48px;
    height: 48px;
    margin: 8px 0;
}

#player img {
    width: 64px;
    height: 64px;
    margin-top: 3px;
    object-fit: cover;
}

#player .song-info {
    padding: 8px 0 8px 6px;
    color: #363636;
}

#player .song-info .name,
#player .song-info .artist {
    line-height: 24px;
    font-size: 16px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#player .song-info .name {
    color: rgba(0, 0, 0, .87);
}

#player .song-info .artist {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
}

#player .ctrl {
    width: 144px;
    display: inline-block;
}

@media screen and (min-width: 768px) {
    #player {
        width: 400px;
        margin: 0 auto;
    }
    #player .song-info .name,
    #player .song-info .artist {
        width: calc(400px - 64px - 144px - 6px);
    }
}

@media screen and (max-width: 768px) {
    #player {
        border-radius: 0;
    }
    #player .song-info .name,
    #player .song-info .artist {
        width: calc(100vw - 64px - 144px - 6px);
    }
}


/* 播放器 */

[data-player] {
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    [data-player] {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    [data-player]>.mdui-card {
        display: flex;
    }
    [data-player]>.footer {
        display: flex;
    }
    [data-player]>.info {
        flex: 1;
        flex-direction: column;
        padding-left: 15px;
        display: flex;
    }
    [data-player]>.info>.grow {
        flex-grow: 1
    }
}

@media screen and (max-width: 768px) {
    [data-player]>.mdui-card {
        margin: 0 auto;
    }
    [data-player]>.info {
        margin-top: 10px;
    }
}

[data-player]>.mdui-card {
    width: 300px;
    height: 300px;
}

[data-player]>.mdui-card .mdui-card-media img {
    min-height: 300px;
    min-width: 300px;
}

[data-player]>.info .ctrl {
    text-align: center;
    margin-top: 10px;
}

[data-player]>.info .ctrl .mdui-btn-icon {
    width: 64px;
    height: 64px;
}

[data-player]>.info>.ctrl>.random,
[data-player]>.info>.ctrl>.loop {
    font-size: 32px;
}

[data-player]>.info>.ctrl>.mdui-btn svg {
    height: 24px;
    width: 24px;
    font-size: 32px;
}