doctype html
html
    head
        title PokaPlayer
        meta(name='viewport', content='width=device-width, initial-scale=1.0')       
        link(href='//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.1/css/mdui.min.css',rel='stylesheet')
        link(href='/css/style.css',rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=News+Cycle:400,700',rel='stylesheet')
        link(href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css',rel='stylesheet')
        script(src='//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.1/js/mdui.min.js')
        //-app
        meta(name="theme-color" content="#3f51b5")
        link(rel="icon" href="/img/PokaPlayer.png")
        //-Add to home screen for Safari on iOS
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="apple-mobile-web-app-title" content="PokaPlayer")
        link(rel="apple-touch-icon" href="/img/PokaPlayer.png")
        //-Windows
        meta(name="msapplication-TileImage" content="/img/PokaPlayer.png")
        meta(name="msapplication-TileColor" content="#3f51b5")
        block head
    body.mdui-drawer-body-left
        header.mdui-appbar.mdui-appbar-fixed
            .mdui-toolbar.mdui-color-theme
                a.mdui-btn.mdui-btn-icon(mdui-drawer="{target: '#drawer', swipe: true}")
                    i.mdui-icon.material-icons menu 
                .mdui-typo-title PokaPlayer
                .mdui-toolbar-spacer
                block appbar
                //-a.mdui-btn.mdui-btn-icon
                    i.mdui-icon.material-icons search 
        #drawer.mdui-drawer.mdui-appbar-with-toolbar
            .mdui-list
                block drawer
        #content.mdui-container
            block content
        block body
