doctype html
html
    head
        title PokaPlayer
        meta(name='viewport', content='width=device-width, initial-scale=1.0')       
        link(href='//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.1/css/mdui.min.css',rel='stylesheet')
        link(href='/css/style.css',rel='stylesheet')
        script(src='//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.1/js/mdui.min.js')
        block head
    body.mdui-drawer-body-left.mdui-theme-primary-indigo.mdui-theme-accent-pink
        header.mdui-appbar.mdui-appbar-fixed
            .mdui-toolbar.mdui-color-theme
                a.mdui-btn.mdui-btn-icon(mdui-drawer="{target: '#drawer', swipe: true}")
                    i.mdui-icon.material-icons menu 
                .mdui-typo-headline PokaPlayer
                #title.mdui-typo-title 首頁
                .mdui-toolbar-spacer
                block appbar
                //-a.mdui-btn.mdui-btn-icon
                    i.mdui-icon.material-icons search 
        #drawer.mdui-drawer.mdui-appbar-with-toolbar
            .mdui-list
                block drawer
        #content.mdui-container
            block content
        block body
