doctype html
html
    head
        title PokaPlayer
        meta(name='viewport', content='width=device-width, initial-scale=1.0')       
        link(href='//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.2/css/mdui.min.css',rel='stylesheet')
        link(href='//cdn.jsdelivr.net/npm/pickr-widget/dist/pickr.min.css',rel='stylesheet')
        link(href='//daneden.github.io/animate.css/animate.min.css',rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=Product+Sans',rel='stylesheet')
        link(href='//unpkg.com/eva-icons@1.1.0/style/eva-icons.css',rel='stylesheet')
        link(href='/css/pokaplayer.css?'+version,rel='stylesheet')
        script(src='//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.2/js/mdui.min.js')
        //-app
        meta(name="theme-color" content="#3f51b5")
        link(rel="icon" href="/img/PokaPlayer.png")
        //-Add to home screen for Safari on iOS
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="apple-mobile-web-app-title" content="PokaPlayer")
        link(rel="apple-touch-icon" href="/img/PokaPlayeriOS.png")
        //-Windows
        meta(name="msapplication-TileImage" content="/img/PokaPlayer.png")
        meta(name="msapplication-TileColor" content="#3f51b5")
        //-lab
        style#colortheme
    body.mdui-drawer-body-left
        header.mdui-appbar.mdui-appbar-fixed
            .mdui-toolbar.mdui-color-theme
                a.mdui-btn.mdui-btn-icon(mdui-drawer="{target: '#drawer', swipe: true}")
                    i.mdui-icon.eva.eva-menu-outline
                .mdui-typo-title PokaPlayer
                .mdui-toolbar-spacer
        #drawer.mdui-drawer.mdui-appbar-with-toolbar
            .mdui-list
                mixin link(name,link,icon)
                    a.mdui-list-item(href=link,data-navigo)&attributes(attributes)
                        i.mdui-list-item-icon.mdui-icon.eva(class=icon)
                        .mdui-list-item-content=name
                +link("首頁","home","eva-home-outline")
                +link("現正播放","now","eva-play-circle-outline")
                +link("歌詞","lrc","eva-text-outline")
                .mdui-subheader 音樂庫
                +link("搜尋","search","eva-search-outline")
                +link("專輯","album","eva-radio-button-on-outline")
                +link("資料夾","folder","eva-folder-outline")
                +link("演出者","artist","eva-mic-outline")
                +link("作曲者","composer","eva-music-outline")
                .mdui-subheader 播放清單
                +link("所有清單","playlist","eva-list-outline")
                +link("隨機播放","random","eva-shuffle-2-outline")
                .mdui-subheader 其他
                +link("設定","settings","eva-settings-2-outline")
                //-.mdui-subheader 帳號
                //-+link("登出","logout","account_circle")(href='/logout/')
        #header-wrapper
            .bg2
            .bg
            .title.mdui-container
                .title
                .subtitle
        #content.mdui-container
        #aplayer
        #player
            .mdui-ripple
                img(src="/img/PokaPlayerTransparent.png")
            .song-info.mdui-ripple
                .name PokaPlayer
                .artist 點擊播放鍵開始隨機播放
            .right
                .timer
                .ctrl
                    button.mdui-btn.mdui-btn-icon.mdui-ripple(onclick='ap.skipBack()')
                        i.mdui-icon.material-icons skip_previous
                    button.mdui-btn.mdui-btn-icon.mdui-ripple.mdui-color-theme.play(onclick='ap.toggle()')
                        i.mdui-icon.material-icons play_arrow
                    button.mdui-btn.mdui-btn-icon.mdui-ripple(onclick='ap.skipForward()')
                        i.mdui-icon.material-icons skip_next
        script(src='//cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/keyboardjs/2.4.1/keyboard.min.js')
        script(src='//cdn.jsdelivr.net/npm/pickr-widget/dist/pickr.min.js')
        script(src='/js/animate-css.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/navigo.min.js')
        script(src='/js/lyrics.min.js')
        script(src='/js/base64.js')
        script(src='/js/template.js?'+version)
        script(src='/js/api.js?'+version)
        script(src='/js/setting.js?'+version)
        script(src='/js/script.js?'+version)
        script(src='/js/color-theme.js?'+version)