extends _layout.pug
block head
    script(src='//cdnjs.cloudflare.com/ajax/libs/cplayer/3.2.1/cplayer-noview.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='/js/base64.js')
    script(src='/js/script.js')
block drawer
    a.mdui-list-item.mdui-ripple(href='#',data-link='pin')
        i.mdui-list-item-icon.mdui-icon.material-icons home
        .mdui-list-item-content 首頁
    .mdui-subheader 音樂庫
    a.mdui-list-item.mdui-ripple(href='#',data-link='album')
        i.mdui-list-item-icon.mdui-icon.material-icons album
        .mdui-list-item-content 專輯
    a.mdui-list-item.mdui-ripple(href='#',data-link='random')
        i.mdui-list-item-icon.mdui-icon.material-icons queue_music
        .mdui-list-item-content 隨機播放
    .mdui-subheader 帳號
    a.mdui-list-item.mdui-ripple(href='/logout/')
        i.mdui-list-item-icon.mdui-icon.material-icons account_circle
        .mdui-list-item-content 登出
block content
    .mdui-container-fluid.mdui-valign.mdui-typo(style='height: 300px;background-image:url(https://i.imgur.com/ErJMEsh.jpg)')
        h1.mdui-center.mdui-text-color-white PokaPlayer