doctype html
html
    head
        title PokaPlayer - Login
        meta(name='viewport', content='width=device-width, initial-scale=1.0')       
        link(href='//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.2/css/mdui.min.css',rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=News+Cycle:400,700',rel='stylesheet')
        link(href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css',rel='stylesheet')
        link(href='//unpkg.com/eva-icons@1.1.0/style/eva-icons.css',rel='stylesheet')
        link(href='/css/style.css?'+version,rel='stylesheet')
        link(href='/css/color-theme.css?'+version,rel='stylesheet')
        //-app
        meta(name="theme-color" content="#3f51b5")
        link(rel="icon" href="/img/PokaPlayer.png")
        //-Add to home screen for Safari on iOS
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="apple-mobile-web-app-title" content="PokaPlayer")
        link(rel="apple-touch-icon" href="/img/PokaPlayer.png")
        //-Windows
        meta(name="msapplication-TileImage" content="/img/PokaPlayer.png")
        meta(name="msapplication-TileColor" content="#3f51b5")
        //-lab
        style#colortheme
    body.login
        header.mdui-appbar.mdui-appbar-fixed(style="opacity: 0;")
            .mdui-toolbar.mdui-color-theme
                a.mdui-btn.mdui-btn-icon(disabled)
                    i.mdui-icon.material-icons  
                .mdui-typo-title PokaPlayer
                .mdui-toolbar-spacer
        main.mdui-valign(style="margin-top:25vh;opacity: 0;")
            .mdui-center(style="width: 300px;box-shadow: 0 6px 20px #0000001f;overflow: hidden;border-radius: 8px;")
                img.mdui-img-fluid(src="/img/PokaPlayerTransparent.png",style="width: 150px;margin:20px auto;")
                .mdui-divider
                .mdui-textfield(style="padding:5px;margin:10px 0")
                    i.mdui-icon.eva.eva-lock
                    label.mdui-textfield-label Password
                    input.mdui-textfield-input(type='password',id='userPASS')
                button.mdui-btn.mdui-btn-block.mdui-ripple(type='submit',onclick='check()') Login
        script(src='//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.2/js/mdui.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='/js/login.js?'+version)
        script(src='/js/setting.js?'+version)
        script(src='/js/color-theme.js?'+version)
