doctype html
html
    head
        title PokaPlayer - Login
        meta(name='viewport', content='width=device-width, initial-scale=1.0')       
        link(href='//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.2/css/mdui.min.css',rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=News+Cycle:400,700',rel='stylesheet')
        link(href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css',rel='stylesheet')
        link(href='/css/style.css',rel='stylesheet')
        //-app
        meta(name="theme-color" content="#3f51b5")
        link(rel="icon" href="/img/PokaPlayer.png")
        //-Add to home screen for Safari on iOS
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="apple-mobile-web-app-title" content="PokaPlayer")
        link(rel="apple-touch-icon" href="/img/PokaPlayer.png")
        //-Windows
        meta(name="msapplication-TileImage" content="/img/PokaPlayer.png")
        meta(name="msapplication-TileColor" content="#3f51b5")
    body
        header.mdui-appbar.mdui-appbar-fixed
            .mdui-toolbar.mdui-color-theme
                a.mdui-btn.mdui-btn-icon
                    i.mdui-icon.material-icons face 
                .mdui-typo-title PokaPlayer
                .mdui-toolbar-spacer
        form.mdui-valign.animated.fadeIn(method='post',role='form',action=post,style="margin-top:25vh",onsubmit='return check()')
            .mdui-center.mdui-shadow-3(style="width: 300px;")
                h1.mdui-typo-display-2.mdui-color-theme.mdui-text-color-theme-text(style="text-align:center;font-family:'News Cycle',cursive,sans-serif;padding:.67em 0;margin:0;") PokaPlayer
                .mdui-divider
                .mdui-textfield.mdui-textfield-floating-label(style="padding:5px;margin:10px 0")
                    i.mdui-icon.material-icons lock
                    label.mdui-textfield-label Password
                    input.mdui-textfield-input(type='password',id='userPASS', name='userPASS',required)
                button.mdui-btn.mdui-btn-block.mdui-ripple(type='submit') Login
        script(src='//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.2/js/mdui.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='/js/login.js')
        script(src='/js/color-theme.js')
