doctype html
html
    head
        title PokaPlayer - Login
        meta(name='viewport', content='width=device-width, initial-scale=1.0')       
        link(href='//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.1/css/mdui.min.css',rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=News+Cycle',rel='stylesheet')
        link(href='/css/style.css',rel='stylesheet')
    body.mdui-theme-primary-indigo.mdui-theme-accent-pink
        form.mdui-valign(method='post',role='form',action=post,style="margin-top:25vh",onsubmit='return check()')
            .mdui-center.mdui-shadow-3(style="width: 400px;")
                h1.mdui-typo-display-2.mdui-color-theme.mdui-text-color-theme-text(style="text-align:center;font-family:'News Cycle',cursive,sans-serif;padding:.67em 0;margin:0;") PokaPlayer
                .mdui-divider
                .mdui-textfield.mdui-textfield-floating-label(style="padding:5px;margin:10px 0")
                    i.mdui-icon.material-icons lock
                    label.mdui-textfield-label Password
                    input.mdui-textfield-input(type='password',id='userPASS', name='userPASS',required)
                button.mdui-btn.mdui-btn-block.mdui-ripple(type='submit') Login
        script(src='//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.1/js/mdui.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='/js/login.js')
        script(src='/js/color-theme.js')
