:root body[color-theme="true"] .mdui-color-theme,
body[color-theme="true"] .mdui-theme-layout-dark .mdui-appbar>[class*=mdui-color-]:not(.mdui-color-transparent) {
    color: var(--poka-theme-primary-text-color) !important;
    background-color: var(--poka-theme-primary-color) !important;
}

:root body[color-theme="true"] .mdui-tab .mdui-tab-active {
    color: var(--poka-theme-primary-color);
}

:root body[color-theme="true"] .mdui-tab-indicator {
    background-color: var(--poka-theme-primary-color);
}

:root body[color-theme="true"] .mdui-theme-layout-dark .mdui-tab .mdui-tab-active {
    color: var(--poka-theme-primary-text-color);
}

:root body[color-theme="true"] .mdui-theme-layout-dark .mdui-tab-indicator {
    background-color: var(--poka-theme-primary-text-color);
}