code {
    background-color: rgba(0, 0, 0, 0.06);
    line-height: 1;
    padding: 3px 3px;
    border-radius: 3px;
    margin: 0 2px;
}


/* scrollbar fix for Windows */

body {
    overflow-y: scroll;
    font-weight: normal !important;
    font-family: Roboto, "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", "Noto Sans CJK TC", "Noto Sans TC", "Microsoft JhengHei", "Microsoft Yahei", wf_SegoeUI, "Segoe UI", Segoe, "Segoe WP", Tahoma, Verdana, Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, 微軟正黑體, "LiHei Pro", "WenQuanYi Micro Hei", "Droid Sans Fallback", "AR PL UMing TW", "Helvetica Neue", "Hiragino Maru Gothic ProN", メイリオ, "ヒラギノ丸ゴ ProN W4", Meiryo, "Droid Sans", sans-serif;
}


/* Product Sans */

#header-wrapper,
#drawer,
[data-page="settings"],
header.mdui-appbar,
.mdui-dialog {
    font-family: 'Product Sans', Roboto, "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", "Noto Sans CJK TC", "Noto Sans TC", "Microsoft JhengHei", "Microsoft Yahei", wf_SegoeUI, "Segoe UI", Segoe, "Segoe WP", Tahoma, Verdana, Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, 微軟正黑體, "LiHei Pro", "WenQuanYi Micro Hei", "Droid Sans Fallback", "AR PL UMing TW", "Helvetica Neue", "Hiragino Maru Gothic ProN", メイリオ, "ヒラギノ丸ゴ ProN W4", Meiryo, "Droid Sans", sans-serif;
}

div.mdui-list-item-avatar {
    background-color: #FFF;
    overflow: hidden;
}

div.mdui-list-item-avatar img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

header.mdui-appbar.mdui-appbar-fixed {
    z-index: 5001;
    transition: all .2s ease !important;
}

#content {
    padding-top: 32px;
    padding-bottom: 96px;
}

#header-wrapper.hide+#content {
    padding-top: 64px;
}

.mdui-container-fluid {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 767px) {
    .mdui-fab {
        margin-bottom: 64px;
    }
}

/* 登入頁面背景*/
body.login {
    background-color: #fff;
    background-image: linear-gradient(45deg, #0000000d 50%, transparent 0);
    background-size: 40px 40px;
}

body.login.mdui-theme-layout-dark {
    background-color: #303030;
    background-image: linear-gradient(45deg, #0000000d 50%, transparent 0);
    background-size: 40px 40px;
}

body.login main>div {
    background-color: #FFF;
}

body.login.mdui-theme-layout-dark main>div {
    background-color: #000;
}

body.login main button[type='submit'] {
    border-radius: 0 0 8px 8px;
    border-top: 1px solid rgba(0, 0, 0, .12);
}

body.login.mdui-theme-layout-dark main button[type='submit'] {
    border-top: 1px solid rgba(255, 255, 255, .12);
}

/* 按鈕 */

.mdui-btn:not(.mdui-btn-icon) {
    border-radius: 8px;
}


/* 彈窗 */

.mdui-dialog {
    border-radius: 12px;
    bottom: 0 !important;
    top: 0 !important;
    height: fit-content !important;
}

.mdui-dialog-content {
    height: fit-content !important;
    max-height: 60vh;
}

@media screen and (max-height:512px) {
    .mdui-dialog-content {
        max-height: 40vh;
    }
}

@media screen and (max-height:256px) {
    .mdui-dialog-content {
        max-height: 20vh;
    }
}


/* 評比 */


#rating>button:hover+button>i:before,
#rating>button:hover+button+button>i:before,
#rating>button:hover+button+button+button>i:before,
#rating>button:hover+button+button+button+button>i:before {
    content: "\ebb0";
}


/* 列表 */

.mdui-list-item {
    border-radius: 10px;
}

.mdui-list-item:active {
    background-color: rgba(0, 0, 0, .2);
}

/* 設定頁面 */

[data-theme="mdui-theme-accent"],
[data-theme="mdui-theme-primary"] {
    text-transform: capitalize;
}


/* 側邊欄 */

@media screen and (min-width:1024px) {
    #drawer .mdui-list-item {
        border-radius: 0 500em 500em 0;
    }

    #drawer {
        padding-right: 10px;
    }
}

@media screen and (max-width:1023px) {
    #drawer .mdui-list-item {
        border-radius: 0;
    }
}



/* fab fix*/

@media screen and (max-width: 767px) {
    .mdui-fab-wrapper {
        bottom: 84px;
    }
}






/* 播放器 */

[data-player] {
    margin-top: 32px;
}

[data-player]>.info {
    margin-top: 10px;
}

[data-player] .info .title {
    color: rgba(0, 0, 0, .87);
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    min-height: 20px;
}

[data-player] .info .artist {
    margin-top: 5px;
    font-size: 17.5px;
    color: rgba(0, 0, 0, .54);
    min-height: calc(5px + 17.5px * 2);
}

[data-player]>.mdui-card {
    --main-size: calc(90vmin - 48px);
    width: var(--main-size);
    height: var(--main-size);
    background-size: cover;
    background-position: center;
    background-color: #0000;
    border-radius: .8em;
    box-shadow: 0 5px 10px #0000002e;
}

[data-player]>.mdui-card .mdui-card-media img {
    min-height: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    object-fit: cover;
    background-color: #FFF;
}

.mdui-slider input[type="range"] {
    left: 0
}

[data-audio-buffered]::before {
    background-color: rgba(0, 0, 0, 0.25) !important;
}

.mdui-theme-layout-dark [data-audio-buffered]::before {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

[data-player]>.info .ctrl {
    text-align: center;
    margin-top: 10px;
}

[data-player]>.info .ctrl .mdui-btn-icon {
    width: 48px;
    height: 48px;
}

.songs .song {
    transition: all .3s;
    transform: scaleY(1);
    transform-origin: top;
    will-change: transform, height, opacity;
}

.songs .song.del {
    transform: scaleY(0);
    height: 0;
    max-height: 0;
    min-height: 0;
    opacity: 0;
}

@media screen and (max-width: 554px) {
    #content[data-page="now"] {
        padding-top: 0;
        padding-bottom: 0;
    }

    [data-player]>.info .ctrl .lrc {
        display: none
    }

    [data-player-container] {
        transition: all .25s ease;
    }

    [data-player-container]>.mdui-list.songs.nosongs:after {
        content: "無歌曲可供播放";
        text-align: center;
        display: block;
        line-height: 3em;
        font-size: 1.25em;
        color: #838383;
    }

    [data-player-container]>.mdui-list.songs.nosongs {
        top: auto;
        max-height: 40vh;
    }

    [data-player-container]>.mdui-list.songs {
        visibility: hidden;
        max-height: calc(100vh - 200px);
        overflow: hidden;
        transition-duration: .3s;
        background-color: white;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        z-index: 6001;
        transform: translateY(calc(100vh - 200px * -1));
        transform-origin: bottom;
    }

    .mdui-theme-layout-dark [data-player-container]>.mdui-list.songs {
        background-color: #303030;
        box-shadow: 0 5px 10px #000000e6;
    }

    [data-player-container]>.mdui-list.songs.show {
        visibility: visible;
        transform: translateY(0);
        overflow: scroll;
        border-radius: 5px 5px 0 0;
    }

    [data-player-container]>.mdui-list.songs.show::-webkit-scrollbar {
        width: 0px;
    }

    [data-player-container]>.mdui-list.songs.show+.mdui-overlay {
        visibility: visible;
        opacity: 1;
        z-index: 6000;
    }

    [data-player-container]>.mdui-list.songs .song {
        margin: 3px;
    }
}

@media screen and (min-width: 555px) {
    [data-player]>.info .ctrl .playlist {
        display: none
    }

    [data-player] {
        margin-top: 32px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    [data-player]>.info {
        margin-top: 10px;
        flex: 1;
        flex-direction: column;
        padding-left: 15px;
        display: flex;
        max-width: calc(100vw - 100px - 200px);
    }

    [data-player]>.mdui-card {
        display: flex;
    }

    [data-player]>.footer {
        display: flex;
    }

    [data-player]>.info>.grow {
        flex-grow: 1
    }

    [data-player]>.mdui-card {
        --main-size: 200px;
    }
}

@media screen and (min-width: 850px) and (min-height: 560px) {

    /* 超大兩欄檢視模式 */
    [data-player-container] {
        display: flex;
        margin-bottom: -100px;
    }

    [data-player-container]>ul {
        flex: 1;
        flex-direction: column;
        height: calc(100vh - 64px - 20px);
        overflow-y: scroll;
        margin-bottom: -64px;
    }

    [data-player] {
        margin-top: 32px;
        display: block;
        width: 320px;
        padding: 0 10px
    }

    [data-player]>.info {
        margin-top: 10px;
        padding-left: 0;
        display: block;
        text-align: center;
    }

    [data-player]>.mdui-card {
        display: block;
    }

    [data-player]>.footer {
        display: block;
    }

    [data-player]>.mdui-card {
        --main-size: 300px;
    }
}

[data-player]>.info>[data-lrc] {
    display: none;
    /* 1390 *600*/
}

@media screen and (min-width: 850px) and (min-height: 750px) {
    [data-player]>.info {
        display: flex;
        max-width: 320px;
        height: calc(100vh - 64px - 350px);
    }

    [data-player]>.info>[data-lrc] {
        margin: 5px 0;
        max-width: 320px;
        overflow-x: hidden;
        overflow-y: scroll;
        flex-grow: 1;
        display: block;
        min-height: 55px;
        padding-top: 10%;
        padding-bottom: 10%;
        position: relative;
        mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
        /* 1390 * 690*/
    }

    [data-player]>.info>[data-lrc] p {
        font-size: calc(8px + 1vmin);
    }

    [data-player]>.info>[data-lrc]>[data-lrc="inner"] {
        padding: 20px 0;
    }
}

@media screen and (max-width: 554px) {
    [data-player]>.mdui-card {
        margin: 0 auto;
    }

    [data-player]>.info {
        text-align: center;
    }
}


/* 歌詞頁籤 */

[data-lrc] p {
    transition: all .5s cubic-bezier(.77, 0, .18, 1), color .2s linear, opacity .2s linear;
    opacity: .5;
    min-height: 1em;
    transform: scale(.95);
    position: relative;
}

[data-lrc] p.mdui-text-color-theme-accent {
    opacity: 1;
    transform: scale(1);
    font-weight: 700;
}

[data-lrc] p.mdui-text-color-theme-accent:not(:empty)+p {
    opacity: .85;
    transform: scale(.98);
}

[data-lrc] p.loading.mdui-text-color-theme-accent::after {
    content: '';
    position: absolute;
    width: 5.5em;
    height: 2px;
    background: currentColor;
    margin: 0 auto;
    top: calc(1.5em + 3px);
    left: 0;
    right: 0;
    animation-name: lrcloading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: 0% 0%;
}

@keyframes lrcloading {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }

    90% {
        transform: scaleX(1);
        opacity: 1;
    }

    100% {
        transform: scaleX(1);
        opacity: 0;
    }
}

#content>[data-lrc] {
    padding-top: 80px;
    text-align: center;
    height: calc(100vh - 96px - 20px - 32px - 80px);
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: -64px;
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
}

#content>[data-lrc]>[data-lrc="inner"] {
    padding: 10vh 0;
}

#content>[data-lrc] p {
    font-size: calc(12px + 1.2vmin);
    line-height: 2em;
    margin: 0;

}

/* color picker*/
[data-change-color-lab] {
    transition: all .2s;

}

[data-change-color-lab] .mdui-card {
    box-shadow: none;
}

.pcr-button {
    display: none
}

.pcr-app {
    z-index: 1;
    position: unset;
    box-shadow: none;
    width: 100%;
    background: transparent;
    max-width: 100%;
}

.pcr-app .pcr-selection .pcr-color-palette {
    background-color: #fff;
    overflow: hidden;
    border-radius: 4px;
}

/* search-box */
.search-box {
    margin: 18px 0;
    display: flex;
    border: 1px solid #90909061;
    border-radius: 24px;
    overflow: hidden;
    transition: all .3s ease;
}

.search-box:hover,
.search-box.focus {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border: 1px solid #90909000;
}

.search-box>.search-input {
    flex: 1;
    outline: none;
    border: 0;
    border-radius: 24px;
    padding: 12px 14px;
}


.search-box>.search-button {
    outline: none;
    border: 0;
    border-radius: 0 2px 2px 0;
    padding: 0 10px;
    opacity: .7;
}

.search-box.focus>.search-button {
    opacity: 1;
}