/* scrollbar fix for Windows */

body {
    overflow-y: scroll
}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
}

@media (min-width: 1024px) {
    body::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
}

body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .3) !important;
}

body.mdui-theme-layout-dark::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
}

@media (min-width: 1024px) {
    body.mdui-theme-layout-dark::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
}

body.mdui-theme-layout-dark::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .3);
}


/* Product Sans */

#header-wrapper,
#drawer,
[data-page="settings"],
header.mdui-appbar,
.mdui-dialog {
    font-family: 'Product Sans', Roboto, Noto, Helvetica, Arial, sans-serif;
}

div.mdui-list-item-avatar {
    background-color: #FFF;
}

header.mdui-appbar.mdui-appbar-fixed {
    z-index: 5001;
}

#content {
    padding-top: 32px;
    padding-bottom: 96px;
}

#header-wrapper.hide+#content {
    padding-top: 64px;
}

.mdui-container-fluid {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 767px) {
    .mdui-fab {
        margin-bottom: 64px;
    }
}


/* 列表 */

.mdui-list-item {
    border-radius: 10px;
    margin-top: 1px;
}


/* 設定頁面 */

[data-theme="mdui-theme-accent"],
[data-theme="mdui-theme-primary"] {
    text-transform: capitalize;
}


/* 側邊欄 */

@media screen and (min-width:1024px) {
    #drawer .mdui-list-item {
        border-radius: 0 500em 500em 0;
    }
    #drawer {
        padding-right: 10px;
    }
}

@media screen and (max-width:1023px) {
    #drawer .mdui-list-item {
        border-radius: 0;
    }
}


/* header-wrapper */

#header-wrapper {
    width: 100%;
    overflow: hidden;
    margin-bottom: -300px;
    position: relative;
    z-index: -1;
}

#header-wrapper.hide {
    display: none;
}

#header-wrapper .bg,
#header-wrapper .bg2 {
    transform: scale(1.05);
    min-height: 400px;
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, .4) 10%, transparent 90%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, .4) 10%, transparent 90%);
    width: 100%;
}

#header-wrapper .bg.blur,
#header-wrapper .bg2.blur {
    filter: blur(5px);
}

#header-wrapper .bg2 {
    position: absolute;
}

#header-wrapper .bg2:not(.changeing) {
    opacity: 0;
}

#header-wrapper .bg.changeing {
    animation: fade .4s linear;
}

#header-wrapper .bg2.changeing {
    animation: fade .4s linear reverse;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#header-wrapper>.title {
    font-weight: bold;
    margin-top: -300px;
    margin-bottom: 300px;
    z-index: 3;
    position: relative;
}

#header-wrapper .title .title {
    font-size: 3.5em;
}

#header-wrapper .title .subtitle {
    font-size: 1.5em;
}

#header-wrapper+.mdui-tab {
    margin-top: -32px;
    margin-bottom: 32px;
}


/* 專輯頁面檢視 */

.poka.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin: -0.875em -0.5em;
}

.poka.cards .card {
    --album-size: calc(16.6% - 1em);
    height: 0;
    width: var(--album-size);
    font-size: 10px;
    margin: .875em 0.5em;
    background-position: center;
    background-size: cover;
    padding-bottom: var(--album-size);
}

.poka.cards .card {
    display: block;
    height: auto;
    padding-bottom: 0;
    text-decoration: none;
}

.poka.cards .card .image {
    height: 0;
    padding-bottom: 100%;
    background-size: cover;
    border-radius: .8em;
    box-shadow: 0 10px 15px #0000002e;
    transition: all .2s;
    will-change: box-shadow, transform;
    position: relative;
}

.poka.cards .card .image i {
    color: #FFF;
    font-size: 6em;
    margin: auto;
    height: 1em;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.poka.cards .card:hover .image {
    box-shadow: 0 10px 20px #00000080;
    transform: translateY(-3px);
}

.poka.cards .card .title {
    font-size: 1.8em;
    padding-top: 5px;
    line-height: 1.5em;
    font-weight: bold;
}

.poka.cards .card .subtitle {
    font-size: 1.2em;
    padding-top: 0px;
    line-height: 1.5em;
}

.poka.cards .card .image {
    background-color: #F44336;
}

.poka.cards .card:nth-child(14n+2) .image {
    background-color: #E91E63;
}

.poka.cards .card:nth-child(14n+3) .image {
    background-color: #9C27B0;
}

.poka.cards .card:nth-child(14n+4) .image {
    background-color: #673AB7;
}

.poka.cards .card:nth-child(14n+5) .image {
    background-color: #3F51B5;
}

.poka.cards .card:nth-child(14n+6) .image {
    background-color: #2196F3;
}

.poka.cards .card:nth-child(14n+7) .image {
    background-color: #00BCD4
}

.poka.cards .card:nth-child(14n+8) .image {
    background-color: #009688
}

.poka.cards .card:nth-child(14n+9) .image {
    background-color: #4CAF50
}

.poka.cards .card:nth-child(14n+10) .image {
    background-color: #8BC34A
}

.poka.cards .card:nth-child(14n+11) .image {
    background-color: #CDDC39
}

.poka.cards .card:nth-child(14n+12) .image {
    background-color: #FF5722
}

.poka.cards .card:nth-child(14n+13) .image {
    background-color: #795548
}

.poka.cards .card:nth-child(14n+14) .image {
    background-color: #9E9E9E
}

@media (max-width: 575.98px) {
    .poka.cards .card {
        --album-size: calc(50% - 1em);
        font-size: 9px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .poka.cards .card {
        --album-size: calc(33.3% - 1em);
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .poka.cards .card {
        --album-size: calc(25% - 1em);
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .poka.cards .card {
        --album-size: calc(20% - 1em);
    }
}

@media (min-width: 1200px) {
    .poka.cards .card {
        --album-size: calc(16.6% - 1em);
    }
}

#aplayer {
    display: none;
}


/* 專輯歌曲頁面 - 專輯簡介 */

.info-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-header * {
    transition: all .3s ease;
}

.info-header>.cover {
    height: 200px;
    width: 200px;
    align-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    border-radius: .8em;
    box-shadow: 0 10px 15px #0000002e;
}

.info-header>.info {
    flex: 1;
    flex-direction: column;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    overflow: hidden;
}

.info-header>.info>.album-name {
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
}

.info-header>.info>.artist-name {
    font-size: 32px;
    line-height: 40px;
}

.info-header>.info>.grow {
    flex: 1;
}

.info-header>.info>.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-header>.info>.footer>.time {
    flex: 1;
}

.info-header>.info .time {
    font-size: 20px;
    line-height: 42px;
}

.info-header>.info .actions .mdui-btn {
    height: 42px;
    width: 42px;
}

@media screen and (max-width: 768px) {
    .info-header>.info {
        padding-left: 12px;
        padding-right: 0;
    }
    .info-header>.cover {
        height: 150px;
        width: 150px;
    }
    .info-header>.info>.album-name {
        font-size: 24px;
        line-height: 30px;
    }
    .info-header>.info>.artist-name {
        font-size: 20px;
        line-height: 25px;
    }
    .info-header>.info .time {
        font-size: 16px;
    }
}


/* 底部吸附播放器 */

#player {
    width: 100vw;
    height: 67px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1999;
    background: #fff;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 10px #0000004d;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    transform: translateY(0);
    transition: transform .3s ease, width .3s ease, border-radius .3s ease, box-shadow .3s ease;
    margin: 0 auto;
    padding-bottom: 3px;
}

.mdui-theme-layout-dark #player {
    background-color: #303030;
}

#player.hide {
    transform: translateY(67px);
    box-shadow: none
}

#player .mdui-btn {
    width: 48px;
    height: 48px;
    margin: 8px 0;
}

#player img {
    width: 64px;
    height: 64px;
    margin-top: 4px;
    margin-right: 3px;
    object-fit: cover;
    background-color: #FFF;
}

#player .song-info {
    padding: 8px 0 8px 6px;
    flex: 1;
}

#player .song-info .name,
#player .song-info .artist {
    line-height: 24px;
    font-size: 16px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#player .song-info .name {
    font-size: 15px;
    font-weight: 700;
}

#player .song-info .artist {
    font-size: 14px;
}

#player .right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#player .right .timer {
    font-size: 12px;
    letter-spacing: .04em;
    opacity: .87;
    padding: 0 2px;
}

#player .right .ctrl {
    width: 144px;
    right: 0;
    top: 0;
    bottom: 0;
}

#player .ctrl button {
    transition: none !important;
}

@media screen and (min-width: 768px) {
    #player {
        width: 512px;
    }
}

@media screen and (max-width: 767px) {
    #player {
        border-radius: 0;
    }
    #player .timer {
        font-size: 12px;
        letter-spacing: .04em;
        opacity: .87;
    }
}

@media screen and (max-width: 512px) {
    #player .timer {
        display: none
    }
}


/* 播放器 */

[data-player] {
    margin-top: 32px;
}

[data-player]>.info {
    margin-top: 10px;
}

[data-player] .info .title {
    color: rgba(0, 0, 0, .87);
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    min-height: 20px;
}

[data-player] .info .artist {
    margin-top: 5px;
    font-size: 17.5px;
    color: rgba(0, 0, 0, .54);
    min-height: calc(5px + 17.5px * 2);
}

[data-player]>.mdui-card {
    --main-size: 150px;
    width: var(--main-size);
    height: var(--main-size);
    background-size: cover;
    background-position: center;
    background-color: #0000;
}

[data-player]>.mdui-card .mdui-card-media img {
    min-height: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    object-fit: cover;
    background-color: #FFF;
}

.mdui-slider input[type="range"] {
    left: 0
}

[data-audio-buffered]::before {
    background-color: rgba(0, 0, 0, 0.25) !important;
}

.mdui-theme-layout-dark [data-audio-buffered]::before {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

[data-player]>.info .ctrl {
    text-align: center;
    margin-top: 10px;
}

[data-player]>.info .ctrl .mdui-btn-icon {
    width: 48px;
    height: 48px;
}

[data-player]>.info>.ctrl>.random,
[data-player]>.info>.ctrl>.loop {
    font-size: 0;
}

[data-player]>.info>.ctrl>.mdui-btn svg {
    height: 24px;
    width: 24px;
    font-size: 24px;
}

.mdui-theme-layout-dark [data-player]>.info>.ctrl>.mdui-btn svg {
    filter: Invert(1);
}

@media screen and (min-width: 555px) {
    [data-player] {
        margin-top: 32px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    [data-player]>.info {
        margin-top: 10px;
        flex: 1;
        flex-direction: column;
        padding-left: 15px;
        display: flex;
        max-width: calc(100vw - 100px - 200px);
    }
    [data-player]>.mdui-card {
        display: flex;
    }
    [data-player]>.footer {
        display: flex;
    }
    [data-player]>.info>.grow {
        flex-grow: 1
    }
    [data-player]>.mdui-card {
        --main-size: 200px;
    }
}

@media screen and (min-width: 850px) and (min-height: 560px) {
    /* 超大兩欄檢視模式 */
    [data-player-container] {
        display: flex;
        margin-bottom: -100px;
    }
    [data-player-container]>ul {
        flex: 1;
        flex-direction: column;
        height: calc(100vh - 64px - 20px);
        overflow-y: scroll;
        margin-bottom: -64px;
    }
    [data-player] {
        margin-top: 32px;
        display: block;
        width: 320px;
        padding: 0 10px
    }
    [data-player]>.info {
        margin-top: 10px;
        padding-left: 0;
        display: block;
        text-align: center;
    }
    [data-player]>.mdui-card {
        display: block;
    }
    [data-player]>.footer {
        display: block;
    }
    [data-player]>.mdui-card {
        --main-size: 300px;
    }
}

[data-player]>.info>[data-lrc] {
    display: none;
    /* 1390 *600*/
}

@media screen and (min-width: 850px) and (min-height: 750px) {
    [data-player]>.info {
        display: flex;
        max-width: 320px;
        height: calc(100vh - 64px - 350px);
    }
    [data-player]>.info>[data-lrc] {
        margin: 5px 0;
        max-width: 320px;
        overflow-x: hidden;
        overflow-y: scroll;
        flex-grow: 1;
        display: block;
        min-height: 55px;
        padding-top: 10%;
        padding-bottom: 10%;
        position: relative;
        mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
        /* 1390 * 690*/
    }
    [data-player]>.info>[data-lrc] p {
        font-size: calc(8px + 1vmin);
    }
    [data-player]>.info>[data-lrc]>[data-lrc="inner"] {
        padding: 20px 0;
    }
}

@media screen and (max-width: 554px) {
    [data-player]>.mdui-card {
        margin: 0 auto;
    }
    [data-player]>.info {
        text-align: center;
    }
}


/* 歌詞頁籤 */

[data-lrc] p {
    transition: all .5s cubic-bezier(.77, 0, .18, 1), color .2s linear, opacity .2s linear;
    opacity: .5;
    min-height: 1em;
    transform: scale(.95);
    position: relative;
}

[data-lrc] p.mdui-text-color-theme-accent {
    opacity: 1;
    transform: scale(1);
    font-weight: 700;
}

[data-lrc] p.mdui-text-color-theme-accent:not(:empty)+p {
    opacity: .85;
    transform: scale(.98);
}

[data-lrc] p.loading.mdui-text-color-theme-accent::after {
    content: '';
    position: absolute;
    width: 5.5em;
    height: 2px;
    background: currentColor;
    margin: 0 auto;
    top: calc(1.5em + 3px);
    left: 0;
    right: 0;
    animation-name: lrcloading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: 0% 0%;
}

@keyframes lrcloading {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }
    90% {
        transform: scaleX(1);
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
        opacity: 0;
    }
}

#content>[data-lrc] {
    padding-top: 80px;
    text-align: center;
    height: calc(100vh - 96px - 20px - 32px - 80px);
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: -64px;
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
}

#content>[data-lrc]>[data-lrc="inner"] {
    padding: 10vh 0;
}

#content>[data-lrc] p {
    font-size: calc(12px + 1.2vmin);
    line-height: 2em;
    margin: 0;
}