
/* 側邊欄 */
@media screen and (min-width: 1024px)
    #drawer
        padding-right: 10px
        .mdui-list-item
            border-radius: 0 500em 500em 0
    body:not(.mdui-theme-layout-dark)
        #drawer
            .mdui-list-item
                box-shadow: inset 0 0 0px 100px rgba(255, 255, 255, 0.9)

@media screen and (max-width: 1023px)
    #drawer .mdui-list-item
        border-radius: 0