// 登入頁面
body.login
    background: #f9f9f9
    .mdui-snackbar-bottom
        bottom: 8px
        border-radius: 8px
    main 
        background: #FFF
        height: 90vh
        width: 90vw
        margin: 0 auto
        margin-top: 5vh
        box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.77)
        > .mdui-center
            padding: 0 8px
            width: 25%
            padding-bottom: 40px
            > .poka-logo
                color: #000
                margin-bottom: 8px
                font-family: var(--product-font)
            > .login-box
                overflow: hidden
                border-radius: 8px
                .mdui-textfield
                    padding-top: 4px
        >.poka-bg 
            background: #303030 url('/og/og.png') center center fixed no-repeat
            background-size: cover
            width: 60%
            height: 100%
            position: relative
            .poka-info    
                position: absolute
                bottom: 30px
                text-align: center
                background: #0000004d
                right: 40px
                left: 40px
                padding: 8px
                border-radius: 16px
                color: #fff
                a
                    color: #eee

@media screen and (max-width: 880px) 
    body.login
        background: #fff
        .mdui-snackbar-bottom
            bottom: 0
        > main 
            width: 100vw
            box-shadow: none
            > .mdui-center
                width: 300px
            .poka-logo
                text-align: center
            >.poka-bg 
                display: none
